@use "../styles/variables" as *;
@use "../styles/mixins" as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto sans-serif;
  color: $secondary-color;
  font-size: 14px;
  background-color: $body-background;
  letter-spacing: 0.5px;
}
