// Colors
$body-background: rgb(46, 126, 175);
$secondary-color: rgb(64, 66, 75);
$list-background: rgb(223, 225, 230);

//text colors 
$text-primary: rgb(64, 66, 75);

// Border Radius
$border-radius-sm: .2rem;
$border-radius-md: 8px;
$border-radius-lg: 12px;